body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    margin: 1em auto;
}

.button {
    background-color: green;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: lightgreen ;
    color: black;
}